<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tagliaferro.adriano.projetodengue">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label= "@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Focos">
        </activity>
        <activity android:name=".Notify" android:parentActivityName=".Focos"></activity>
        <activity android:name=".CadastroUsuario" android:parentActivityName=".Focos"></activity>
        <activity android:name=".Lembrete" android:parentActivityName=".Focos"></activity>

    </application>

</manifest>
